@tailwind base;
@tailwind components;
@tailwind utilities;

/*
DEFINE SOME ROOT VARIABLES 

--mag-blue = The darkblue we use
--mag-dark-text = The dark text color
--mag-light-text = The light text color
--mag-gray = The light gray Bg color
--mag-accent = The accent color used for contrasting
*/
:root{
--mag-dark-blue: #0F1831;
--mag-grey: #F5F8FF;
--mag-accent: #E93C3C;;
--mag-light-blue: #59627C;
--mag-dark-text:var(--mag-dark-blue);
--mag-light-text:var(--mag-grey);
--mag-accent-text:var(--mag-accent);

}
.mag-text-white {
  color: whitesmoke
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #28374D;
  @apply overflow-x-hidden 
  transition-all duration-300 ease-linear;
}

/* COMMMON COMPONENT CSS*/
.section-header-container {
  z-index: 2;
  display: flex;
  position: relative;
  @apply  p-24 flex flex-grow items-center justify-between;
}
.section-header {
  display: flex;
  position: relative;
}
.section-header-title, .section-header-outline {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 150%; 
  position: absolute;
}
.section-header-title{
  z-index: 2;
  font-size: 36px;
}
.section-header-outline {
  z-index: 1;
  position: absolute;
  letter-spacing: .01em;
  color:var(--mag-dark-text);
  font-size: 50px;
  margin-left: -40px;
  margin-top: -25px;
  text-shadow:  -1px -1px 0 #DEE3F2,
				  -1px -1px 0 #DEE3F2,
				 -1px -1px 0 #DEE3F2,
				-1px -1px 0 #DEE3F2;
  animation: spin-away  15s linear infinite;
}

@keyframes spin-away {
  0% {
    margin-top: -25px;
    margin-left: -40px;
    font-size: 50px;
    transform:scale3d(1,1,1);
    transform: rotate3d(1,0,1,-540deg);

  }
  50% {
    font-size: 20px;
    margin-top: -65px;
    margin-left: 45px;
    opacity: .0;
    transform:scale3d(.5,.5,.5);
    transform: rotate3d(1,0,1,540deg);
  }
  
  100% {
    opacity: 1;
    margin-top: -25px;
    margin-left: -40px;
    font-size: 50px;
    transform:scale3d(1,1,1);
    transform: rotate3d(1,0,1,-540deg);
  }
}
.section-header-accent {
  position: absolute;
  
  margin-top: 55px;
  margin-left: 15px;
  width: 75px;
  height: 5px;
  background-color: var(--mag-accent);
}


/* HEADER CSS*/
.header-container {
  @apply flex flex-row items-center justify-between
  bg-lightGray w-full h-16 m-0 pt-2;
}

.header-left {
  @apply flex-row flex items-center ml-3;
}

.header-right {
  @apply flex-row flex items-center mr-3;
}

.header-icon {
  @apply hidden ms:flex cursor-pointer
  text-magnetdarkblue mx-1 md:mx-2
  transition duration-300 ease-in-out
  hover:text-magnetred cursor-pointer;
}

.header-logo {
  @apply w-32 mx-1 xs:mx-3;
}

.header-item {
  @apply hidden xxs:flex cursor-pointer
  text-xs mx-1 m:mx-2 font-semibold text-magnetdarkblue hover:text-opacity-75;
}

.header-button {
  @apply relative flex items-center justify-center mx-1 xs:mx-3
  h-10 w-24 px-2 my-2 bg-magnetdarkblue hover:bg-magnetred
  text-white text-xs hover:rounded-xl rounded-2xl transition-all
  duration-300 ease-linear cursor-pointer shadow-md hover:shadow-lg font-medium hover:font-semibold;
}

.header-tooltip {
  @apply absolute z-0 top-8 py-2 px-1 m-3 w-full rounded-xl shadow-md
  text-white bg-gray-900 text-xs font-medium
  transition-all duration-100 scale-0 origin-top;
}
/**MAIN SECTION CSS**/
.main-container {
  @apply bg-lightGray pt-24 px-10 sm:px-24 shadow-md text-magnetdarkblue;
}

.main-title {
  @apply text-4xl sm:text-6xl font-bold max-w-[500px];
}

.main-button {
  @apply min-w-[184px] hover:shadow-md font-semibold text-white mt-6 mr-6 border-2 border-magnetdarkblue 
  hover:border-magnetred rounded-xl bg-magnetdarkblue p-2
  hover:rounded-lg transition-all duration-300 ease-linear hover:bg-magnetred;
}

.main-button-alt {
  @apply hover:shadow-md font-semibold text-magnetdarkblue mt-6 rounded-xl p-2 border-2 border-magnetdarkblue
  hover:rounded-lg transition-all duration-300 ease-linear hover:text-magnetred hover:border-magnetred bg-transparent;
}

.main-footer {
  @apply bg-lightGray mt-24 py-8 border-t border-magnetdarkblue
  grid-cols-2 sm:grid-cols-3 grid-flow-row gap-8 sm:gap-4 grid items-center;
}

.main-footer-item {
  @apply flex flex-col text-[0.75rem] sm:text-xs font-medium text-magnetdarkblue;
}

.main-footer-item-number {
  @apply font-semibold text-sm sm:text-lg w-auto;
}
/**BODY SECTION CSS**/
.body-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background:#0F1831 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}
.body-col {
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.body-image-container {
  position: fixed;
  top: 30%;
  width: 750px;
  flex-shrink: 0;
  z-index: 1;
  background-color: transparent;
  animation: soft-motion 20s ease-in-out 1s infinite;
}

.body-image-space {
  position: relative;
  content: " ";
  height: 1px;
  width: 750px;
  flex-shrink: 0;
}
/*TWINKLY STARS*/
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
.stars {
  background:#0F1831 url(../public/stars.png) repeat top center;
  z-index:1;
}
.stars, .twinkling {
  content: " ";
  width: inherit;
  height:inherit;
  display:block;
}

.twinkling{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:inline-flex;
  
  z-index:1;
  background:transparent url(../public/twinkler.png) repeat top center;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
.body-image{
  
  animation: spinzx 20s linear infinite;
  animation-play-state: paused;
}
@keyframes soft-motion {
  0% {
    top: 5%;
    left: 0%;
    transform: scale3d(.2,.2,.2);
    
  }
  20%{
    top:10%;
    left: 10%;
    transform: scale3d(.4,.4,.4)
  }
  40% {
    top:15%;
    left: 20%;
    transform: scale3d(.6,.6,.6);
    
  }
  60% {
    top:20%;
    left: 20%;
    transform: scale3d(.7,.7,.7)
  }
  80% {
    top:25%;
    left: 10%;
    transform: scale3d(.8,.8,.8)
  }
  100% {
    top: 30%;
    left: 0%;
    transform: scale3d(1,1,1);
    
  }
  
}
@keyframes spinzx{
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.8);
    transform: rotate3d(.5,0,1,180deg);
  }
  100% {
    
    transform: rotate3d(.5,0,1,180deg);
    transform: scale(1.0);
  }
}
.body-image:hover{
  animation-play-state: running;
 
  
}
.body-text-section-right{
  align-self: right;
  float: right;
  max-width: 650px;
  height: auto;
  z-index: 1;
}
.body-text-container {
  z-index: 1;
  padding-bottom: 40px;
  @apply text-left  px-12
}
.body-text-container > span,.body-text-container p {
  padding: 30px 0px;
  color: #DEE3F2;
}
.body-text-container > p {
  font-size: smaller;
  @apply font-semibold py-8;
}
.body-text-container > p >span {
  color: red;
}
.body-text-title {
  color: #DEE3F2;
  @apply font-bold py-8;
}

.body-text {
  color: #DEE3F2;
  @apply font-medium font-light py-8;
}
.body-banner-section {
  z-index: 1;
  background-color: #28374D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.grid-pattern {
  background-size: 45px 45px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}
.body-banner {
  position: relative;
  left: 10;
  height: 430px;
  width: 630px;
  border-top: #DEE3F2 5px solid;
  background-color:#405066;
  @apply  flex  justify-evenly  py-8;
}

.body-banner::after{
  color: #00a8a8;
  background-color: #28374D;
  content: " ";
  position: absolute;
  left: 90%;
  top: 90%;
  width: 17%;
  height: 15%;
  transform: rotateZ(-45deg);
}
.body-banner-text-section {
  width: 620px;
}
.body-banner-item-container {
  width: 90%;
  @apply  flex  justify-evenly ;
}
.body-banner-item {
  color:whitesmoke;
  @apply p-6 px-20 text-xs flex flex-col justify-evenly font-light;
}

.body-banner-item-text {
  @apply font-semibold py-4 text-[1rem];
}

.tokenomics-container {
  @apply my-12;
}

.tokenomics-title {
 color:whitesmoke
}

.tokenomics-row {
  @apply my-24 flex flex-grow items-center justify-between;
}

.tokenomics-image {
  @apply bg-lightGray w-[300px] md:w-[600px] h-[600px] rounded-3xl
  transition-all duration-300 ease-linear -ml-6;
}

.tokenomics-text {
  @apply text-left w-full px-12
  flex flex-col;
}

.tokenomics-text-title {
  @apply font-semibold py-6;
}

.tokenomics-text-item {
  @apply pb-8;
}

.tokenomics-text-list {
  @apply list-disc pb-4;
}

.roadmap {
  @apply mx-6 md:mx-24;
}

.roadmap-container {
  @apply py-24 flex justify-end;
}

.roadmap-title {
  @apply text-black font-bold text-4xl bg-lightGray p-0 text-center sm:pr-24 p-4 w-80 shadow-md;
}

.roadmap-element {
  @apply flex flex-col;
}

.roadmap-item-title {
  @apply text-lg font-semibold;
}

.roadmap-item-text {
  @apply py-2;
}
.timeline-list {
  margin: 0;
  padding-left: 1.2rem;
}

.timeline-list-item {
  text-align: left;
  padding-top: 1rem;
  padding-right: .5rem;
  position: relative;
  list-style-type: none;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.roadmap-item:nth-child(odd) .timeline-list-item.completed::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
.roadmap-item:nth-child(even) .timeline-list-item.completed::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
.roadmap-item:nth-child(even) .timeline-list-item.incomplete::after {
  content: '\2610';
  display: block;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
}
.roadmap-item:nth-child(odd) .timeline-list-item.incomplete::before {
  content: '\2610';
  display: block;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
}
/*Community Section*/
.community-container {
  display: flex;
  position: relative;
  height: 680px;
  background: radial-gradient(24.14% 42.38% at 100% 100%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #0F1831;
  background-blend-mode: overlay, normal;
  
  @apply  p-24 flex flex-grow items-center justify-between;
}
.community-image {
  position: absolute;
  z-index: 1;
  animation: spinz  5s ease infinite;
  transform: rotate3d(0,1,0,180deg);
  transform: translateY(10%);
}
.community-image-container {
  position: absolute;
  top: -105%;
}
@keyframes spinz{
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.8);
    transform: rotate3d(1,0,0,180deg);
  }
  100% {
    
    transform: rotate3d(1,0,0,180deg);
    transform: scale(1.0);
  }
}
.animated-globe {
  left: -10%;
  position: absolute;
  z-index: 2;
  animation: spinz  5s linear infinite;
}
.community-title {
  
  position: absolute;
  z-index: 2;
  color: var(--mag-accent);
  @apply font-bold text-2xl md:text-6xl max-w-[420px];
}
/*FAQ CSS SECTION*/

.faq-container{
  background: var(--mag-grey);
  padding-top: 40px;
  margin-bottom: 200px;
  @apply flex flex-col justify-between   w-full
}
.faq-title-container{
  position: relative;
  height: 285px;
  @apply flex   
}
.faq-title-text, .faq-title-text-outline {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 150%; 
  position: absolute;
}
.faq-title-text {
  
  color: var(--mag-dark-text);
  left: 7%;
  top: 40%;
  z-index: 2;
  font-size: 36px;
}
.faq-title-text-outline{ 
  z-index: 0;
  position: absolute;
  letter-spacing: .01em;
  color: var(--mag-grey);;
  font-size: 50px;
  left: 7%;
  top: 40%;
  margin-left: -40px;
  margin-top: -25px;
  text-shadow:  -1px -1px 0 #DEE3F2,
				  -1px -1px 0 #DEE3F2,
				 -1px -1px 0 #DEE3F2,
				-1px -1px 0 #DEE3F2;
}
.faq-title-text-accent{
  position: absolute;
  left: 7%;
  top: 40%;
  margin-top: 55px;
  margin-left: 15px;
  width: 75px;
  height: 5px;
  background-color: var(--mag-accent);
}
/* FAQ tabs CSS */
.faq-tab-title-container {
  width: 100%;
  text-align: right;
  margin-bottom: none;
}
.react-tabs__tab-list.faq-tab-title-container {
  margin: 0 0 0 0;
  border-bottom: none;
}
.react-tabs__tab.faq-tab-title{
  right: 5%;
  height: 70;
  text-align: center;
  width: 390px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: var(--mag-light-blue); 
  border: none;
}
.react-tabs__tab--selected.faq-tab-title {
  border-top: var(--mag-accent) 5px solid;
  color: var(--mag-dark-blue);
}

.faq-tab-panel.react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}
.faq-question {
width: 70%;
align-self: center;
color: #0F1831;
padding-top: 2.5rem;
@apply text-2xl 
}
.faq-question hr {
  @apply mt-4  bg-magnetdarkblue 
}
.faq-answer {
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 175%;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Collapsible__trigger {
  display: block;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding: 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #0F1831; }
.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\002B';
  position: absolute;
  font-size: xx-large;
  right: -15px;
  top: 10px;
  font-weight: 600;
  display: block;
  color: #FF9900;
  transform: rotateZ(-540deg);
  transition: transform 400ms; }
.Collapsible__trigger.is-open:after {
  content: "\2212";
  font-size: xx-large;
  transform: rotateZ(540deg);
  transition: transform 400ms; 
 }
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey; }